.map-container {
    position: relative;
    width: 100%;
    height: 100vh;
    flex: 1;
}


.marker {
    width: 10px;
    height: 10px;
    background-color: #ff0000;
    border-radius: 50%;
    cursor: pointer;
}
